# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Env
.env
.env.*

# Logs
*.log

# Builds / artifacts
dist/
build/
*.zip
# Python
__pycache__/
*.py[cod]
*.pyd
.Python
.venv/
venv/
ENV/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
